{
	"extends": [
		"react-app",
		"airbnb",
		"plugin:jsx-a11y/recommended",
		"prettier",
		"prettier/react"
	],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"plugins": ["jsx-a11y", "prettier"],
	"rules": {
		"react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		"react/prop-types": [
			0,
			{ "ignore": "ignore", "customValidators": "customValidator" }
		],
		"import/no-unresolved": 0,
		"import/prefer-default-export": "off",
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		]
	}
}
