@import "../../styles/index.scss";

.regiser-form-title{
    font-size:17px !important;
    text-align: center;
    margin-bottom: 20px;
}

.register-form{
    padding: 17px 15px !important;
    //background-color: #f9f9f9 !important;
}

.btn-submit {
    width: 100%;
    background-color: $action;
    color: $font-light;
    height: 40px;
    border-color: #f9f9f9;
    border-radius: 8px;
}

.register-input{
   width: 100%; 
   margin-bottom: 20px;
   background-color: #f9f9f9;
}

.btn-reset{
    width: 100%;
    //background-color: $action;
    color: $font-light;
    height: 40px;
    border-color: #f9f9f9;
    border-radius: 8px;
    color: black;
    margin-top: 10px;
}