.MuiDialog-paperWidthSm {
    max-width: 100% !important;
    max-height: 100% !important;
}

.reservation-info{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    padding-bottom: 80px;
}